<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964819825412-oi766msdc796phglchjrihj9uv8jbo9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964819825412-oi766msdc796phglchjrihj9uv8jbo9p</string>
	<key>API_KEY</key>
	<string>AIzaSyB0huh25UWYAoXjTFzlXSRMnF2UMqYCNM0</string>
	<key>GCM_SENDER_ID</key>
	<string>964819825412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ungchun.Yeowoo</string>
	<key>PROJECT_ID</key>
	<string>yeowoo-186cd</string>
	<key>STORAGE_BUCKET</key>
	<string>yeowoo-186cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964819825412:ios:8b713cd66606171dea5651</string>
</dict>
</plist>